.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  position: relative;

  .logo-container {
    //height: 100%;
    //width: 70px;
    padding: 25px 0;
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__link {
      padding: 10px 0;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: all 0.2s;

      &--active {
        border-bottom: 2px solid black;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid black;
      }
    }
  }

  button.nav__link {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.2s;
  }

  .cart-dropdown {
    position: absolute;
    top: 75px;
    right: 7px;
  }
}
