body {
  font-family: 'Open Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.app {
  min-height: 100vh;
  width: 100vw;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
